/*
Reset
*/

*{
  margin: 0;
  padding: 0;
}

html{
  font-size: 62.5%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  text-align: center;
  padding: 3rem;

  max-width: 32rem;
  margin: auto;
}

h1 {
  color: #369; 
  font-size: 250%;
}
h2, h3 { 
  color: black;
  font-weight: lighter;
}

a, button, #editPage .studentsListItem {
  -webkit-transition: all .5s;
  transition: all .5s;
}

a {
  cursor: pointer;
  cursor: hand;
}

.textAlignRight{
  text-align: right;
}

button {
  background-color: #eee;
  border: none;
  padding: .5rem 1rem;
  border-radius: .4rem;
  cursor: pointer;
  cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #aaa; 
  cursor: auto;
}

ul {
  list-style-type: none;
}




/*
Style header
*/

header{
  margin-bottom: 2rem;
}

header h2 {
    margin-bottom: 2rem;
}




/*
Style NAV
*/

nav {
    margin: 1rem 0;
    padding: 1rem 0;
    border-top: .1rem dotted #336699;
    border-bottom: .1rem dotted #336699;
    text-align: left
}

nav a {
    padding: .5rem 1rem;
    text-decoration: none;
    display: inline-block;
    background-color: #eee;
    border-radius: .4rem;
    font-size: 1rem;
    text-transform: uppercase;
}

nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}



/*
Page Dashboard
*/
#dashboardPage .student-item {
    color: white;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: rgba(51,102,153,.5);
    cursor: pointer;
    
    -webkit-transition: all .5s;
    transition: all .5s;
}

#dashboardPage .student-item:hover {
    background-color: rgba(51,102,153,.7);
}

#dashboardPage .student-item button {
  display: none;
}

/*
Page Edit
*/

#editPage{
  text-align: left
}

#editPage .studentsListItem {
    padding: 2rem 1rem;
    position: relative;
    border-bottom: .1rem dotted #336699;
}

#editPage .studentsListItem:hover {
    background-color: rgba(51,102,153,.1);
}

#editPage .studentsListItem h3, #editPage .studentsListItem aside, #editPage .studentsListItem p{
  display: inline;
}

#editPage .studentsListItem button{
  position: absolute;
  right: 1rem;
  background-color: #336699;
  color: white;
}

#editPage .studentsListItem button:hover{
  background-color: black;
}

#editPage .studentsListItem p {
    font-size: 1rem;
    text-transform: uppercase;
    color: #336699;
}

#editUserForm {
    padding: 2rem;
    background-color: #336699;
    color: white;
}

#editPage h3{
    margin-bottom: 1rem;
}

#editUserForm h3 strong{
  color: black;
}

#editPage li:not(:last-of-type){
  margin-bottom: 1rem;
}

#editPage label, #editPage input{
    display: inline-block;
    width: 16%;
    font-size: 1.2rem;
}

#editPage input {
    width: 77%;
    padding: .5rem;
}

#addStudentForm {
    padding: 2rem;
    background-color: rgba(51,102,153,.5);
    color: white;
}