<header>
    <h1>{{title}}</h1>
    <h2>{{text}}</h2>
</header>

<main>
    <!-- Section pour ajouter un étudiant -->
    <section>
        <!-- Binding d'un ngModel : à propos de ngModel et du binding https://goo.gl/HbLZ5E -->
        <input [(ngModel)]="newStudent.firstName" placeholder="{{firstName}}">
        <input [(ngModel)]="newStudent.lastName" placeholder="{{lastName}}">
        <input [(ngModel)]="newStudent.state" placeholder="{{state}}">

        <!-- Binding de l'événement clic : à propos du binding https://goo.gl/GDr3rl -->
        <button (click)="addNewObject()">{{add}}</button>
    </section>

    <!-- Section pour modifier une fiche étudiant -->
    <section *ngIf="selectedStudent">
        <h3>{{edit}} {{selectedStudent.firstName}} {{selectedStudent.lastName}}</h3>
        <ul>
            <!-- Utilisation du ngModel : à propos de ngModel https://goo.gl/i7hAq6 -->
            <li>{{firstName}} <input [(ngModel)]="selectedStudent.firstName"/></li>
            <li>{{lastName}} <input [(ngModel)]="selectedStudent.lastName"/></li>

        </ul>
    </section>
    
    <section *ngFor="let student of studentsList" >
        <h3>{{student.firstName}} {{student.lastName}}</h3>

        <!-- Binding de l'événement click -->
        <button (click)="onSelect(student)">{{editBtn}}</button>

        <aside>
            <p *ngIf="student.state == 1">{{state1}}</p>
            <p *ngIf="student.state == 2">{{state2}}</p>
            <p *ngIf="student.state == 3">{{state3}}</p>
        </aside>
    </section>
</main>