<header>
    <h1>{{title}}</h1>
    <h2>{{text}}</h2>
</header>

<main>
    <section>
        <!-- Ajout de la directive add-student : à propos des directives https://goo.gl/fGh7QS -->
        <add-student [newStudent]="newStudent" (sendNewStudentData)="addNewStudent($event)"></add-student>
    </section>

    <section *ngIf="selectedStudent">
        <!-- Ajout de la directive edit-student -->
        <edit-student [selectedStudent]="selectedStudent"></edit-student>
    </section>
    
    <section *ngFor="let student of studentsList" >
        <!-- Ajout de la directive student-item -->
        <student-item [student]="student" (sendStudentDetail)="onSelect($event)"></student-item>
    </section>
</main>