<header>
    <h1>{{title}}</h1>
    <h2>{{text}}</h2>
</header>

<main>
    <section *ngIf="selectedStudent">
        <h3>{{edit}} {{selectedStudent.firstName}} {{selectedStudent.lastName}}</h3>
        <ul>
            <li>{{firstName}} <input [(ngModel)]="selectedStudent.firstName"/></li>
            <li>{{lastName}} <input [(ngModel)]="selectedStudent.lastName"/></li>
        </ul>
    </section>
    
    <section *ngFor="let student of studentsList" >
        <h3>{{student.firstName}} {{student.lastName}}</h3>
        <button (click)="onSelect(student)">{{editBtn}}</button>
        <aside>
            <p *ngIf="student.state == 1">{{state1}}</p>
            <p *ngIf="student.state == 2">{{state2}}</p>
            <p *ngIf="student.state == 3">{{state3}}</p>
        </aside>
    </section>
</main>